
.block1,.block2{

   background-color: aquamarine;
   padding: 60px;
   margin: 60px;
   border-radius: 10px;
   width: 400px;
   text-align: center;
   display: inline-block;

}





.bg_container{
    background-color:black;
    background-size: cover;
    height: 100%;
    padding: 20px;

}


